/* ADJUSTMENTS */

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-decoration: none;
  font-weight: 500;
  color: black;
}

/* NAV & FOOTER */

nav ul {
  display: flex;
  list-style-type: none;
  min-height: 150px;
  align-items: center;
  gap: 25px;
  background-color: #f4ecd4;
  font-size: 25px;
}

nav ul li:first-child {
  margin-left: 100px;
  margin-right: auto;
}

nav ul li a:hover {
  color: black;
}

nav ul li:last-child {
  margin-right: 100px;
}

footer {
  background-color: #8c8c8c;
  min-height: 400px;
  display: flex;
  flex-wrap: wrap;
}

footer section.contact {
  margin-left: 100px;
  margin-right: auto;
  margin-top: 50px;
  max-width: 500px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

footer section.contact h2 {
  font-size: 36px;
  margin-bottom: 25px;
}

footer section.form {
  max-width: 650px;
  margin-right: 100px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

footer section.form form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #2b2d42;
  padding: 10px;
  border-radius: 10px;
}

footer section.form form label {
  color: white;
}

/* INDEX */

body.index nav ul li:nth-child(2) a {
  text-decoration: underline;
  text-underline-offset: 5px;
}

body.index {
  background-color: #ecdeb5;
}

header {
  display: grid;
  max-width: 1200px;
  margin: 10px auto;
  gap: 10px;
  grid-template-columns: repeat(5, 240px);
  grid-template-rows: repeat(4, 200px);
  grid-template-areas:
    "imgOne imgOne imgTwo imgThree imgThree"
    "imgOne imgOne imgFour imgFive imgFive"
    "imgSix imgSeven imgSeven imgFive imgFive"
    "imgSix imgEight imgNine imgNine imgTen";
}

header section {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

header section h4 {
  color: white;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  padding: 3px;
  font-size: 13px;
  margin: 10px 10px 10px 10px;
}

header section p {
  color: white;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  padding: 3px;
  font-size: 11px;
  margin: 0 10px 20px 10px;
}

#imgOne {
  background-image: url("../img/fastelavn2.png");
  background-size: cover;
  grid-area: imgOne;
}

#imgTwo {
  grid-area: imgTwo;
  background-image: url("../img/fastelavn.png");
  background-size: cover;
}

#imgThree {
  grid-area: imgThree;
  background-image: url("../img/easter2.png");
  background-size: cover;
}

#imgFour {
  grid-area: imgFour;
  background-image: url("../img/easter4.png");
  background-size: cover;
}

#imgFive {
  grid-area: imgFive;
  background-image: url("../img/fastelavn3.png");
  background-size: cover;
}

#imgSix {
  grid-area: imgSix;
  background-image: url("../img/Easter.png");
  background-size: cover;
}

#imgSeven {
  grid-area: imgSeven;
  background-image: url("../img/easter5.png");
  background-size: cover;
}

#imgEight {
  grid-area: imgEight;
  background-image: url("../img/easter3.png");
  background-size: cover;
}

#imgNine {
  grid-area: imgNine;
  background-image: url("../img/fastelavn4.png");
  background-size: cover;
}

#imgTen {
  grid-area: imgTen;
  background-image: url("../img/fastelavn5.png");
  background-size: cover;
}
.events {
  background-color: #dbc4c0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  gap: 20px;
}

.events h1 {
  font-size: 50px;
  color: black;
}
.events p {
  padding: 5px;
  max-width: 720px;
}

.events div article.firstevent {
  display: flex;
  justify-content: center;
}

.firstevent h2 {
  font-size: 62px;
}

/* 
header {
  background-image: url("/assets/img/ha-fyrtoejet.png");
  background-repeat: no-repeat;
  background-position: 35%;
  background-color: #66c089;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 805px;
}

header section.intro {
  text-align: center;
  margin: 25px auto 25px 50px;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  max-width: 600px;
  border-radius: 50px;
}

header section.intro h1 {
  font-size: 40px;
  padding: 0px 10px;
}

header section.intro p {
  padding: 0px 10px;
  font-size: 20px;
}

header section.calendar {
  margin: 25px 50px 25px 50px;
  background-color: lightblue;
  max-width: 600px;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  border-radius: 50px;
  column-gap: 100px;
}

header section.calendar h2 {
  width: 100%;
  text-align: center;
  font-size: 32px;
}

header section.calendar h3 {
  font-size: 26px;
}

header section.calendar article {
  margin-left: 25px;
  padding: 25px;
  width: 90%;
  border-radius: 25px;
}

header section.calendar article:nth-child(2) {
  background-color: #f8e271;
}

header section.calendar article:nth-child(3) {
  background-color: #e15959;
}

header section.calendar article:last-child {
  background-color: #e6905b;
}
*/
/* Galleri */

body.galleri {
  background-color: #ecdeb5;
}

body.galleri nav ul li:nth-child(4) a {
  text-decoration: underline;
  text-underline-offset: 5px;
}

body.galleri h2.title {
  font-size: 48px;
  text-align: center;
  margin: 25px 0;
}

body.galleri section.values {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: #f4ecd4;
}

body.galleri section.values h3 {
  font-size: 25px;
}

.flex-item {
  position: relative;
}

figcaption {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 20%;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: rgb(255, 255, 255);
  font-size: 3rem;
}

.flex-item:hover figcaption {
  display: flex;
}

.flex-container {
  display: flex;
  height: 100vh;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.flex-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.flex-item {
  display: block;
  overflow: hidden;
  flex: 1 1 250px;
  align-self: stretch;
}

.large {
  flex: 1 1 500px;
}

/* ? */

body.omos nav ul li:nth-child(3) a {
  text-decoration: underline;
  text-underline-offset: 5px;
}

body.personale nav ul li:nth-child(5) a {
  text-decoration: underline;
  text-underline-offset: 5px;
}

section.tekst-omos {
  background-color: #ecdeb5;
  display: flex;
  min-height: 400px;
}
.column {
  margin-top: 50px;
  font-size: 20px;
  padding: 10px;
  columns: 3;
  gap: 30px;
}

.personale {
  background-color: #ecdeb5;
}

.personale h2 {
  text-align: center;
}

.pic-flexwrap {
  max-width: 712px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 20px;
  justify-content: space-between;
}

.pic-flexwrap article {
  width: 100%;
  max-width: 200px;
}

.personale p {
  text-align: center;
  color: #000;
}

.personale p:nth-child(2) {
  margin-bottom: 20px;
}

.personale div.pic-flexwrap article img {
  width: 200px;
  height: 200px;
}
